@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts-gstatic.proxy.ustclug.org/s/materialicons/v45/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.mdico{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-align:center;
}
body{
	font-family:"source Han Sans Normal", "微软雅黑", "华文宋体", "新宋体", "宋体";
	width:100%;
	margin:0px;
}
header{
	height:54px;
	width:100%;
	background-color:#FFF;
	box-shadow:0px -20px 10px 20px #B0B0B0;
	margin:0px;
}
.head{
	color:#2196F3;
	line-height:55px;
	font-size:130%;
	margin-top:0px;
}
button.mdicon{
	height:54px;
	width:54px;
	float:left;
	background-color:white;
	border:none;
	color:#2196F3;
	margin-top:0px;
}