body{
	font-family:"source Han Sans Normal", "微软雅黑", "华文宋体", "新宋体", "宋体";
	width:100%;
	margin:0px;
}
header{
	height:54px;
	width:100%;
	background-color:#FFF;
	box-shadow:0px -20px 10px 20px #B0B0B0;
	margin:0px;
}
.head{
	color:#2196F3;
	line-height:55px;
	font-size:130%;
	margin-top:0px;
}
button.mdicon{
	height:100;
	width:54px;
	float:left;
	background-color:white;
	border:none;
	color:#2196F3;
	margin-top:0px;
}
